<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta http-equiv="refresh" content="5" >
   <title>{{ title }}</title>	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    	<link rel="stylesheet" href="style.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
 	<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

</head>
    <body>
	
	
	{% block content %}
	s
    	{% endblock %}
	
	<a href="https://api.thingspeak.com/update?api_key=QDYQ1KXG4SN2EWWV&field1=26.5&field2=64.0" class="button">Update to Thingspeak</a>
	<a href="#" class="button">Turn On Pump</a>
	<a href="#" class="button">Pesticide</a>
	<a href="#" class="button">Vaccum Pump</a>
	<a href="#" class="button">UV Light</a>
	
	<footer style="text-align:right">Current Server date & time is: {{ time }}</footer>
	
    </body>

</html>
